@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    font-family: 'Satisfy', cursive;
    margin: 0;
}

:root{
    --primary-color: #fff176;
    --secondary-color: #1565c0;
}

.nav-bar{
    background-color: var(--primary-color);
    text-align: center;
    height: 3rem;
    padding: 1rem;
}

.nav-brand{
    color: var(--secondary-color);
    font-size: 2rem;
}

.hero{
    max-width: 300px;
    text-align: center;
    margin: auto;
}

.hero-image{
    padding: 1rem;
    width: 100px;
}

.hero-heading{
    color: var(--secondary-color);
}

.span-translator{
    color: var(--primary-color);
}

.container{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.txt-input{
    color: var(--secondary-color);
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: large;
    width: 500px;
    height: 10vh;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
}

.btn-translate{
    margin: 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    font-family: 'Satisfy', cursive;
    font-size: 1.1rem;
    color: var(--secondary-color);
    border: none;
}

.output{
    font-size: x-large;
    color: var(--secondary-color);
}
.txt-output{
    color: var(--secondary-color);
    font-size: large;
    width: 500px;
    height: 10vh;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    margin: 1rem auto auto auto;
}

.footer{
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    margin-top: 2rem;
}

.footer-about{
    font-size: large;
    padding: 1rem;
}
